.content-section {
  @include grid-container();
  @include grid();
  position: relative;

  .container--intro-finished &,
  .document--scrolled & {
    transform: translateY(0);
  }

  .document--scrolled & {
    transition: none;
  }

  &--full-height {
    min-height: 90vh;
    align-items: center;
  }

  &__container {
    @include grid(12);
    position: relative;
    grid-column: 1 / -1;

    @include breakpoint(xlarge) {
      @include grid(10);
      grid-column: 2 / span 10;
    }
  }

  &__content {
    grid-column: 2 / span 10;
    padding-top: 4rem;
		padding-bottom: 4rem;

    @include breakpoint(medium) {
			padding-top: 8rem;
			padding-bottom: 8rem;
		}
    
		@include breakpoint(xxlarge) {
      grid-column: 2 / span 8;
			padding-top: 10rem;
			padding-bottom: 10rem;
    }

    .background--orange & {
      padding-bottom: calc(10% + 3rem);
      @include breakpoint(medium) {
        padding-bottom: calc(10% + 6.5rem);
      }
    }
  }
}
