.intro {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
	z-index: 0;

	&__content {
		text-align: center;
		grid-column: 1 / -1;
		
		@include breakpoint(medium) {
			grid-column: 2 / -2;
		}
		
		@include breakpoint(xlarge) {
			grid-column: 4 / -4;
		}

		& > *:last-child {
			margin-bottom: 0;
		}
	}

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: -1;
	}
}