.newsletter {
	background-color: #F8F8F8;

	.content-section__content {
		grid-column: 1 / -1;
		padding-top: 1rem;
		padding-bottom: 4.5rem;
		align-items: center;
		
		@include breakpoint(medium) {
			grid-column: 2 / -2;
			padding: 4.5rem 0 4rem;
		}
		
		@include breakpoint(large) {
			@include grid(10);
			grid-column: 2 / -2;
			padding: 6.5rem 0;
		}
	}

	&__image,
	&__content {
		@include breakpoint(large) {
			grid-column: span 5;
		}
	}

	&__error {
		color: $orange;
		opacity: 0;
		position: absolute;
		pointer-events: none;
		padding: 1rem 0;
		margin-bottom: 1rem;

		&-active {
			position: static;
			opacity: 1;
			pointer-events: all;
		}

		p {
			margin: 0;
		}
	}

	&__image {
		position: relative;
		overflow: hidden;
		height: 0;
		padding-bottom: 66.67%;

		img {
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
			top: 0;
			left: 0;
		}
	}

	&__content {
		margin-top: 1rem;
		@include breakpoint(xlarge) {
			margin-top: 0;
			padding: 2rem 0;
		}
	}

	&__title {
		margin: 1.8rem 0 2.4rem;
		text-align: center;

		@include breakpoint(medium) {
			margin: 2.5rem 0 3.5rem;
			text-align: initial;
		}
		@include breakpoint(xlarge) {
			margin: 0 0 4rem 0;
		}
	}
	
	&__form {
		display: flex;
		flex-wrap: wrap;
		align-items: baseline;
		justify-content: center;
		width: 100%;

		.for-email {
			flex: 1;
			flex-direction: column;
		}

		.clear	{
			display: inline-block;
			width: auto !important;
		}

		#mc_embed_signup_scroll {
			margin: 0;
			flex-wrap: wrap !important;
		}

		div:not(#mce-responses) {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			@include breakpoint (490) {
				flex-wrap: nowrap;
			}
		}
		
		@include breakpoint(large) {
			justify-content: flex-start;
		}

		& > * {
			margin: .5rem;
		}

		input[type=email] {
			flex: 1;
			-webkit-appearance: none;
			-webkit-border-radius: 0;
			border-radius: 0;
			margin: .5rem !important;
			min-height: 3rem;
		}

		.mce_inline_error:not(.input-field), #mce-error-response, #mce-success-response {
			margin: .5rem !important;
			padding: .5rem !important;
			background-color: $orange !important;
			color: $white;
			font-family: "TT Firs Neue", sans-serif !important;
			font-weight: 500 !important;
			width: calc(100% - 1rem) !important;

			&#mce-success-response {
				width: 100% !important;
			}

			a {
				margin-left: 2rem;
			}
			
			div {
				display: flex;
				flex-direction: column;
			}
		}

		#mce-responses {
			display: flex;
			align-items: center;
			min-height: 3rem;
			padding: .5rem;
		}

		input[type=submit], .btn {
			-webkit-appearance: none;
			-webkit-border-radius: 0;
			border-radius: 0;
			cursor: pointer;
			padding-left: 3em;
			padding-right: 3em;
			margin: .5rem !important;
			display: inline-block;
			width: auto !important;

			@include breakpoint (490) {
				padding-left: 1.2rem;
				padding-right: 1.2rem;
				display: block;
				width: auto !important;
			}
		}
	}

	&__disclaimer {
		display: none;
		
		@include breakpoint(medium) {
			display: block;
		}
		
		@include breakpoint(xlarge) {
			max-width: 60%;
		}
		
		p:last-child {
			margin-bottom: 0;
		}
	}
}