.referrals {
	text-align: center;
	padding: 2rem 0;

	@include breakpoint(medium) {
		padding: 5.6rem 0;
	}

	@include breakpoint(large) {
		padding: 5.4rem 0 calc(5.4rem + 2.5rem);
	}

	&__stars {
		margin-bottom: .8rem;
		@include breakpoint(medium) {
			margin-bottom: 1.5rem;
		}
	}

	&__title {
		@include h4();
		grid-column: 1 / -1;
		padding: 0 1rem;
		@include breakpoint(medium) {
			grid-column: 3 / -3;
			padding: 0;
		}
	}

	.flickity-page-dots {
		bottom: -2.5rem;
	}

	&__logos {
		width: 100%;
		margin-top: 2.3rem;
		grid-column: span 12;
		margin-bottom: 2rem;

		@include breakpoint(large) {
			margin-top: 4.6rem;
		}
	}

	&__logo-wrapper {
		display: flex;
		margin-right: 5rem;

		&.is-selected {
			.referrals__logo {
				opacity: 1;
			}
		}
	}

	&__logo {
		max-height: 3rem;
		opacity: .25;
	}
}