.site-header {
	position: fixed;
	width: 100%;
	padding: 1rem 0 .8rem;
	left: 0;
	z-index: 9999;
	transition: top .3s ease-out;
	
	&::after {
		content: "";
		background-color: $white;
		width: 100%;
		top: 0;
		z-index: -1;
		position: absolute;
		transform: translateY(-100%);
		transition: transform .3s ease-out;
		padding: 1rem 0 .8rem;
		left: 0;
		bottom: 0;
	}

	&.apple-sticky-active {
		.site-header__logo, #brochure-btn-header {
			transform: translateY(0%);
		}

		&::after {
			transform: translateY(0%);
		}
	}

	&__logo, #brochure-btn-header {
		transform: translateY(calc(-2rem - 100%));
		transition: transform .3s ease-out;
	}
	
	&__logo, img {
		height: 2rem;
		@include breakpoint(medium) {
			height: 100%;
		}
	}
	
	&__nav {
		grid-column: 1 / -1;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__cta {

		& > *:not(.btn) {
			display: none;

			@include breakpoint(medium) {
				display: inline-block;
			}
		}

		& > *:not(:last-child) {
			margin-right: 1rem;
		}

		.btn {
			height: 2.5rem;
			line-height: 2.5rem;
			transform: translateY(-4.5rem);
			transition: background-color .3s ease-out, color .3s ease-out, transform .3s ease-out;
			@include breakpoint(medium) {
				height: 3rem;
				line-height: 3rem;
			}

			.site-header.active & {
				transform: translateY(0);
			}
		}
	}

	&__btn-up {
		position: fixed;
		z-index: 9999;
		bottom: 1rem;
		right: .5rem;
		background-color: $white;
		padding: .8rem;
		cursor: pointer;
		pointer-events: none;
		opacity: 0;
		transition: opacity .4s ease-in-out, background-color .4s ease-in-out, color .4s ease-in-out;

		@include breakpoint (medium) {
			bottom: 1.1rem;
			right: 1.1rem;
		}

		@include breakpoint (large) {
			bottom: 2.2rem;
			right: 2.2rem;
		}

		&:hover {
			background-color: $black;
			color: $white;

			.icon {
				padding-bottom: .1rem;
			}
		}

		&-active {
			pointer-events: all;
			opacity: 1;
		}

		.icon {
			font-size: 1.4rem;
			transition: padding .4s ease-in-out;
		}
	}
}