$footer-items-margin-bottom: 1rem;

.site-footer {
  @include grid-container();
  position: relative;
	text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 2.111rem;
  color: $white;
	background-color: $black;

	&__wrap {
		display: flex;
		flex-direction: column-reverse;

		a {
			display: block;
			transition: color .3s;

			&:last-child {
				margin-bottom: 1rem;
			}
		}

		@include breakpoint (large) {
			flex-direction: row-reverse;

			a {
				&:last-child {
					margin: 0 2.666rem;
				}
			}
		} 
	}

  @include breakpoint(large) {
		display: flex;
		align-items: baseline;
		justify-content: space-between;
		text-align: initial;
  }

	.contact-list {
		display: flex;
		flex-direction: column;
		padding: 0;
		margin: 0 0 calc(#{$footer-items-margin-bottom} * 3);
		list-style: none;

		@include breakpoint(large) {
			flex-direction: row;
			margin: 0 -1rem;
		}

		@include breakpoint(xlarge) {
			flex-direction: row;
			margin: 0 -2.666rem;
		}
		
		&__item {
			@include breakpoint(large) {
				margin: 0 1rem;
			}

			@include breakpoint(xlarge) {
				margin: 0 2.666rem;
			}

			&:not(:last-child) {
				margin-bottom: $footer-items-margin-bottom;
				@include breakpoint(large) {
					margin-bottom: 0;
				}
			}

			a {
				transition: .3s color;
			}

			a:hover {
				color: $orange
			}
		}
	}
}
