.slider-selector {
	padding-top: 3rem;
	padding-bottom: 4rem;
	z-index: 0;
	@include breakpoint(medium) {
		padding-top: 6.5rem;
		padding-bottom: 5.5rem;
	}
	@include breakpoint(large) {
		@include grid();
		@include grid-container();
		padding-top: 4.5rem;
		padding-bottom: 8rem;
	}

	&__main {
		@include breakpoint(medium) {
			@include grid(8);
			padding: 0 #{map-get($grid-container-padding, medium)};
			grid-column: span 8 / -1;
		}
		@include breakpoint(large) {
			padding: 0;
		}
	}

	&__wrapper {
		grid-column: span 8;
		width: 100%;
	}

	&__content-slider {
		@include breakpoint(medium) {
			margin: calc(-1.8rem * 1) 1.2rem 0;
		}

		@include breakpoint(large) {
			margin: calc(-1.8rem * 4) 1.2rem 0;
		}
	}

	&__content {
		position: relative;
		padding: 1.5rem #{map-get($grid-container-padding, small)} 2rem;

		@include breakpoint(medium) {
			grid-column: span 8;
			padding: 1.5rem 2rem 2rem;
			// margin: calc(-1.8rem * 1) 1.2rem 0;
			background-color: $white;
		}

		@include breakpoint(large) {
			grid-column: span 7;
			width: calc(100% + #{map-get($grid-container-padding, large)});
			// margin: calc(-1.8rem * 4) 1.2rem 0;
		}
	}

	&__controls {
		position: absolute;
		top: calc(((1.1rem + .5rem * 2) / 2) * -1);
		right: calc(100% / 12 * 1.15);
		margin: 0 -.3rem;

		@include breakpoint(medium) {
			right: 4rem;
		}
	}

	.flickity-button { // .icon
		font-size: 1.1rem !important;
		padding: .6rem !important;
		color: $white !important;
		background-color: $orange !important;
		cursor: pointer  !important;
		border-radius: 0rem !important;
		height: 2.2rem;
		width: 2.2rem;
		top: 0 !important;
		right: 4.4rem !important;
		display: block !important;

		svg {
			height: 1rem !important;
			width: 1rem !important;
			position: static;
		}

		&.previous {
			left: initial;
			margin-right: calc(2.2rem + .5rem);
		}
	}

	&__label {
		display: inline-block;
		font-size: 1.1rem;
		color: $orange;
		margin-bottom: .5rem;
	}

	&__text {
		@include letter-spacing(8.82);
		font-size: 1.8rem;
		line-height: 1.17;
		margin-top: 0;
		&:last-child {
			margin-bottom: 0;
		}
	}

	&__image {
		position: relative;
		height: 0;
		min-height: 48vw;
		max-height: calc(100vh - 4.5rem - 6.5rem);
		z-index: 0;
		@include breakpoint(medium) {
			grid-column: 1 / -1;
		}
		@include breakpoint(large) {
			width: calc(100% + #{map-get($grid-container-padding, large)});
		}
		
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			z-index: -1;
		}
	}

	&__navigation {
		padding: 0 map-get($grid-container-padding, small);

		@include breakpoint(medium) {
			padding: 0 map-get($grid-container-padding, medium);
		}
		
		@include breakpoint(large) {
			grid-column: 2 / span 3;
			display: inline-block;
			margin-top: 9.45vw;
			margin-left: -#{map-get($grid-column-gap, medium)};
			padding: 0;
		}

		.label {
			display: inline-block;
			@include h3();
			text-align: center;
			width: 100%;
			margin-bottom: 2.2rem;
			
			@include breakpoint(medium) {
				@include letter-spacing(4.17);
				font-family: $body-font-family;
				font-size: 1rem;
				font-weight: $global-weight-normal;
				color: $body-font-color;
				line-height: $global-line-height;
				text-align: left;
				width: initial;
				margin-bottom: 1rem;
			}
			
			@include breakpoint(large) {
				margin-bottom: 3rem;
			}
		}
		
		ul {
			display: flex;
			justify-content: space-between;
			list-style: none;
			margin: 0 0 1.7rem;
			padding: 0;

			@include breakpoint(medium) {
				justify-content: flex-start;
				// margin: 0 -1.5rem 2.6rem;
				margin: 0 0 2.6rem;
			}

			@include breakpoint(large) {
				flex-direction: column;
				margin: -1rem 0
			}

			li {
				@include heading();
				font-size: 1rem;

				@include breakpoint(medium) {
					@include h4();
					margin: 0 1.5rem
				}

				@include breakpoint(large) {
					@include h3();
					margin: 1rem 0;
				}

				&:first-child {
					@include breakpoint(medium) {
						margin-left: 0;
					}
				}

				&:last-child {
					@include breakpoint(medium) {
						margin-right: 0;
					}
				}

				&:hover {
					span {
						color: $orange;
						cursor: pointer;
					}

					&:not(&.active) {
						span:before {
							opacity: 1;
							height: 1.8rem;
							width: 1.8rem;
							left: -3rem;
							opacity: .5;
						}
					}
				}


				span {
					position: relative;
					transition: margin-left .2s ease-in-out;

					@include breakpoint (large) {
						&:before {
							position: absolute;
							content: "";
							display: inline-block;
							height: 2.4rem;
							width: 2.4rem;
							top: 50%;
							transform: translateY(-50%);
							left: -3.5rem;
							background-image: url("@/assets/icons/arrow.svg");
							background-size: cover;
							background-repeat: no-repeat;
							opacity: 0;
							transform: left .2s ease-in-out;
						}
					}
				}

				&.active span {
					color: $orange;
					
					@include breakpoint(large) {
						margin-left: 3.6rem;
					}

					&:after {
						position: absolute;
						content: '';
						display: inline-block;
						width: 100%;
						height: .1rem;
						background-color: $orange;
						bottom: -.25rem;
						left: 0;

						@include breakpoint(medium) {
							height: .1666rem;
						}
					}

					&:before {
						opacity: 1;
					}
				}
			
			}
		}
	}

}
