@keyframes animateLetter {
	0% {
		transform: translate(51px, 8px);
	}
	100% {
		transform: translate(51px, 0px);
	}
}

@keyframes schommelLogoFadeIn {
	0% {
		opacity: 0;
	}
	100% {
    opacity: 1;
	}
}

@keyframes schommelFromLeft  {
    0% {
        transform: rotate(90deg);
    }
    40% {
        transform: rotate(-10deg);
    }
    75% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(-1deg);
    }
}

@keyframes schommelFromRight  {
    0% {
        transform: rotate(-90deg);
    }
    40% {
        transform: rotate(10deg);
    }
    75% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(1deg);
    }
}

@keyframes schommelOutLeft {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-90deg);
    }
}

@keyframes schommmelOutRight {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(90deg);
    }
}