@keyframes schommelFromLeft  {
    0% {
        transform: rotate(90deg);
    }
    40% {
        transform: rotate(-10deg);
    }
    75% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(-1deg);
    }
}

@keyframes schommelFromRight  {
    0% {
        transform: rotate(-90deg);
    }
    40% {
        transform: rotate(10deg);
    }
    75% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(1deg);
    }
}

.intro {
    background-color: $white;
    max-height: 100vh;

    &__animation-blocks {
        position: absolute;
        height: calc(100vh - 5rem);
        width: 100%;
        top: 5rem;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;

        * {
            overflow: visible;
        }
    }

    &__animation-block-item {
        transform-origin: 50% -100%;
        opacity: 0;

        &.--1 {
            &.load {
                animation: schommelFromLeft 2.5s;
                transform: rotate(-1deg);
                opacity: 1;
            }
        }

        &.--2{
            &.load {
                animation: schommelFromRight 2.5s;
                transform: rotate(1deg);
                opacity: 1;
            }
        }
    }
}