.btn {
  display: inline-block;
  font-size: 100%;
  font-size: 1rem;
  font-family: inherit;
  border: 0;
  text-decoration: none;
  color: $white;
  height: 3rem;
  line-height: 3rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  background-color: $black;
  outline: none;
  transition: background-color .3s ease-out, color .3s ease-out;

  &:visited {
    color: $white;
  }

  &:hover {
    background-color: $black;
    color: $white;
  }

  &.orange-hover {
    &:hover {
      background-color: $orange;
    }
  }
}

.btn-orange {
  background-color: $orange;
}

.btn.btn-white {
  color: $body-font-color;
  background-color: $white;

  &:hover {
    background-color: $orange;
    color: $white;
  }
}

.btn-orange-odd-hover {
  &:hover {
    background-color: $white;
    color: $black;
  }
}