.contact-form {
	display: flex;
	flex-direction: column;
	margin: -.5rem;

	input {
		height: 3rem;
		margin: .5rem;
		padding: 0 1rem;

		&::placeholder {
			color: rgba($body-font-color, 1);
			transition: all ease-in-out .1s;
		}

		&:focus {
			border: none;
			box-shadow: none;
			outline: none;

			&::placeholder {
				color: rgba($body-font-color, .25);
				transition: all ease-in-out .1s;
			}
		}
	}

}