.paralex-wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 55rem;
}

.image-full-size {
	position: relative;
	overflow: hidden;
	perspective-origin: 0%;
	display: flex;

	&__paralex {
		width: 100%;
		height: 24rem;

		@include breakpoint(medium) {
			height: 150vh;
		}
	}

	&__image {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		transform: translateZ(-5rem) scale(1.6);
		background-size: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		z-index: -1;

		@include breakpoint(medium) {
			transform: translateZ(-32.71rem) scale(1.6) translateY(0rem);
		}
	}
}