.socials-list {
	display: flex;
	list-style: none;
	margin: -.5rem;
	padding: 0;
	@include breakpoint(medium) {
		margin: -1rem;
	}

	a {
		margin: .5rem;
		
		@include breakpoint(medium) {
			margin: 1rem;
		}
	}

	$block: &;

	&.--white {
		#{$block}__item {
			background-color: $white;
			transition: background-color .2s, color .2s;

			&:hover {
				background-color: $orange;
				color: $white;
			}
		}
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		line-height: 1;
		width: 2.5rem;
		height: 2.5rem;
	}

	.icon {
		font-size: 1.333rem;
	}
}